
.app {
  margin: 0 10px;
}

.train .attr,
.train .head {
  display: inline-block;
  margin: 2pt 5pt;
  min-width: 250px;
}

.train .head {
  font-weight: bolder;
}

.train.record {
  margin: 5pt 0;
  padding: 10pt 2pt;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid black;
}

.field label {
  display: block;
}